.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  margin: 1rem 0rem 1rem 0rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.header {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.transactionList {
  width: 65%;
  height: max-content;
  border: 2px solid rgb(119, 116, 116);
  border-radius: 0.5rem;
  padding: 0.75rem 2rem 0.75rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0b1b34;
  color: white;
}
.noTransaction {
  margin: 0;
}
.transaction {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}
.transaction:last-child {
  margin-bottom: 0;
}
.transaction:nth-child(even) {
  background-color: #3b464d;
}
.transaction:nth-child(odd) {
  background-color: #6a85c5;
}
.amount {
  color:#fff;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  padding: 0.125rem 0.45rem;
}
.typeIncome {
  background-color: #03D47C;
}
.typeExpense {
  background-color: #EA4335;
}


